.hero-unit
  %h1 Welcome to the 2012-2013 Pigskin Pool!
  %p
  %p <a class="btn btn-primary btn-large">Learn more »</a>

.row
  .span12
    %p The Pigskin Pool is back for it's 12th season! Make your picks each week and compete for the weekly prize. We have the playoffs too!
    %p Remember, for each person you get to sign up and purchase credits, you will receive a $5 refund on your sign up fee.
    %p See you on the field!
